*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 3px;
}

button:disabled {
  pointer-events: none;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: "Raleway";
  --accent-font: "STIX Two Text";
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

/* Основа */

.page {
  min-inline-size: 360px;
  margin: 0;
  font-family: var(--main-font, sans-serif);
  color: var(--text-color, #312A4E);
  background-color: var(--bg-color, #F3EFEC);
}

.content-section {
  padding: 0 5vi;
}

/* Шапка */

.header {
  padding-top: 10%;
}

/* H1 */

.heading {
  font-family: var(--accent-font, serif);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

/* nav */

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
  padding-block: 20px;
}

/* ul кнопки */

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;

}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after { 
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.header__theme-button:hover {
  text-decoration: underline;

}

/* main */

/* H2 */

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

/* блоки абзацев */

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: inherit;
}

a:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

.content__blockquote {
  inline-size: 75%;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin-inline-end: 1px;
  padding: 0 4px;
  font-weight: 700;
  font-size: 30px;
  background-color: var(--accent-color);
}

/* picture */

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vi);
  margin: 7% auto;
  inset-inline-end: 5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  border-block-end: 1px solid var(--text-color);
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

/* карточка */

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.content__card-subtitle {
  font-size: 18px;
}

/* список */

.content__list {
  list-style: none;
  padding: 0 0 0 40px;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: "";
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-inline-start: -7.5px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inset-block-start: 20%;
  inset-inline-start: -25px;
}

/* footer */

.footer {
  margin-block-start: 10%;
  padding: 2.5%;
  border-block-start: 1px solid var(--text-color);
  text-align: center;
}

.footer__copyright {
  font-size: 18px;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}