*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: "Raleway";
  --accent-font: "STIX Two Text";
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font);
  line-height: 90%;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.header__theme-toggler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}


.content__text-block {
  font-size: var(--main-font);
}

.content__paragraph {
  color: var(--text-color);
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.link {
  color: inherit;
}

.content__blockquote {
  width: 75%;
  margin-bottom: 1.5em;
  font-size: 18px;
  font-style: italic;
  font-family: var(--main-font);
  color: var(--text-color);
  line-height: 200%;
  text-align: left;
  margin-left: 13%;
}

.content__list {
  list-style: none;
}

.content__list-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--text-color);
}

.content__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.content__list-item::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-inline-start: 40px;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color);
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;
  font-weight: bold;
}

.content__figure {
  position: relative;
  right: 5vi;
  margin-top: 7%;
  margin-bottom: 7%;
}

.content__picture {
  width: calc(100% + 10vi);
}

.content__picture-caption {
  width: calc(100% + 10vi);
  font-family: var(--main-font);
  font-size: 18px;
  text-align: center;
  color: var(--text-color);
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--text-color);
}

.content__card {
  aspect-ratio: 4 / 3;
  padding: 0 20px;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
}

.content__card-title {
  font-size: 60px;
  position: relative;
}

.colored-text {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.colored-text::after {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 8px;
  left: -3px;
  width: 220px;
  height: 0.25em;
  background-color: var(--accent-color);
}

.content__card-subtitle {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 18px;
}

/* следующий 9-ый шаг */